[submodule "plugins/space-weather-forecast"]
	path = plugins/space-weather-forecast
	url = https://github.com/the-lobsternaut/space-weather-forecast-sdn-plugin.git
[submodule "plugins/sdn-starlink"]
	path = plugins/sdn-starlink
	url = https://github.com/the-lobsternaut/sdn-starlink-plugin.git
[submodule "conjunction-assessment-sdn-plugin"]
	path = conjunction-assessment-sdn-plugin
	url = https://github.com/the-lobsternaut/conjunction-assessment-sdn-plugin.git
[submodule "sgp4-propagator-sdn-plugin"]
	path = sgp4-propagator-sdn-plugin
	url = https://github.com/the-lobsternaut/sgp4-propagator-sdn-plugin.git
[submodule "od-sdn-plugin"]
	path = od-sdn-plugin
	url = https://github.com/the-lobsternaut/od-sdn-plugin.git
[submodule "numerical-propagator-sdn-plugin"]
	path = numerical-propagator-sdn-plugin
	url = https://github.com/the-lobsternaut/numerical-propagator-sdn-plugin.git
