[submodule "plugins/space-weather-forecast"]
	path = plugins/space-weather-forecast
	url = https://github.com/the-lobsternaut/space-weather-forecast-sdn-plugin.git
[submodule "plugins/sdn-starlink"]
	path = plugins/sdn-starlink
	url = https://github.com/the-lobsternaut/sdn-starlink-plugin.git
[submodule "plugins/atmospheric-wind"]
	path = plugins/atmospheric-wind
	url = https://github.com/the-lobsternaut/atmospheric-wind-sdn-plugin.git
[submodule "plugins/gps-jamming-detection"]
	path = plugins/gps-jamming-detection
	url = https://github.com/the-lobsternaut/gps-jamming-detection-sdn-plugin.git
[submodule "plugins/hpop"]
	path = plugins/hpop
	url = https://github.com/the-lobsternaut/hpop-sdn-plugin.git
[submodule "plugins/adsb"]
	path = plugins/adsb
	url = https://github.com/the-lobsternaut/adsb-sdn-plugin.git
[submodule "plugins/ais"]
	path = plugins/ais
	url = https://github.com/the-lobsternaut/ais-sdn-plugin.git
[submodule "plugins/atmosphere"]
	path = plugins/atmosphere
	url = https://github.com/the-lobsternaut/atmosphere-sdn-plugin.git
[submodule "plugins/bolide"]
	path = plugins/bolide
	url = https://github.com/the-lobsternaut/bolide-sdn-plugin.git
[submodule "plugins/cislunar"]
	path = plugins/cislunar
	url = https://github.com/the-lobsternaut/cislunar-sdn-plugin.git
[submodule "plugins/dimos-bridge"]
	path = plugins/dimos-bridge
	url = https://github.com/the-lobsternaut/dimos-bridge-sdn-plugin.git
[submodule "plugins/iridium"]
	path = plugins/iridium
	url = https://github.com/the-lobsternaut/iridium-sdn-plugin.git
[submodule "plugins/linkanalysis"]
	path = plugins/linkanalysis
	url = https://github.com/the-lobsternaut/linkanalysis-sdn-plugin.git
[submodule "plugins/maneuver"]
	path = plugins/maneuver
	url = https://github.com/the-lobsternaut/maneuver-sdn-plugin.git
[submodule "plugins/mediameta"]
	path = plugins/mediameta
	url = https://github.com/the-lobsternaut/mediameta-sdn-plugin.git
[submodule "plugins/missile"]
	path = plugins/missile
	url = https://github.com/the-lobsternaut/missile-sdn-plugin.git
[submodule "plugins/ml-inference"]
	path = plugins/ml-inference
	url = https://github.com/the-lobsternaut/ml-inference-sdn-plugin.git
[submodule "plugins/ml-train"]
	path = plugins/ml-train
	url = https://github.com/the-lobsternaut/ml-train-sdn-plugin.git
[submodule "plugins/netrecon"]
	path = plugins/netrecon
	url = https://github.com/the-lobsternaut/netrecon-sdn-plugin.git
[submodule "plugins/satfoot"]
	path = plugins/satfoot
	url = https://github.com/the-lobsternaut/satfoot-sdn-plugin.git
[submodule "plugins/satobs"]
	path = plugins/satobs
	url = https://github.com/the-lobsternaut/satobs-sdn-plugin.git
[submodule "plugins/small-bodies"]
	path = plugins/small-bodies
	url = https://github.com/the-lobsternaut/small-bodies-sdn-plugin.git
[submodule "plugins/socmint"]
	path = plugins/socmint
	url = https://github.com/the-lobsternaut/socmint-sdn-plugin.git
[submodule "plugins/starfield"]
	path = plugins/starfield
	url = https://github.com/the-lobsternaut/starfield-sdn-plugin.git
[submodule "plugins/webarchive"]
	path = plugins/webarchive
	url = https://github.com/the-lobsternaut/webarchive-sdn-plugin.git
[submodule "plugins/conjunction-assessment"]
	path = plugins/conjunction-assessment
	url = https://github.com/the-lobsternaut/conjunction-assessment-sdn-plugin.git
[submodule "plugins/numerical-propagator"]
	path = plugins/numerical-propagator
	url = https://github.com/the-lobsternaut/numerical-propagator-sdn-plugin.git
[submodule "plugins/od"]
	path = plugins/od
	url = https://github.com/the-lobsternaut/od-sdn-plugin.git
[submodule "plugins/sgp4-propagator"]
	path = plugins/sgp4-propagator
	url = https://github.com/the-lobsternaut/sgp4-propagator-sdn-plugin.git
[submodule "plugins/gdelt"]
	path = plugins/gdelt
	url = https://github.com/the-lobsternaut/gdelt-sdn-plugin.git
[submodule "plugins/firms"]
	path = plugins/firms
	url = https://github.com/the-lobsternaut/firms-sdn-plugin.git
[submodule "plugins/safecast"]
	path = plugins/safecast
	url = https://github.com/the-lobsternaut/safecast-sdn-plugin.git
[submodule "plugins/acled"]
	path = plugins/acled
	url = https://github.com/the-lobsternaut/acled-sdn-plugin.git
[submodule "plugins/reliefweb"]
	path = plugins/reliefweb
	url = https://github.com/the-lobsternaut/reliefweb-sdn-plugin.git
[submodule "plugins/who_health"]
	path = plugins/who_health
	url = https://github.com/the-lobsternaut/who-health-sdn-plugin.git
[submodule "plugins/ofac"]
	path = plugins/ofac
	url = https://github.com/the-lobsternaut/ofac-sdn-plugin.git
[submodule "plugins/opensanctions"]
	path = plugins/opensanctions
	url = https://github.com/the-lobsternaut/opensanctions-sdn-plugin.git
[submodule "plugins/fred"]
	path = plugins/fred
	url = https://github.com/the-lobsternaut/fred-sdn-plugin.git
[submodule "plugins/treasury"]
	path = plugins/treasury
	url = https://github.com/the-lobsternaut/treasury-sdn-plugin.git
[submodule "plugins/bls"]
	path = plugins/bls
	url = https://github.com/the-lobsternaut/bls-sdn-plugin.git
[submodule "plugins/eia"]
	path = plugins/eia
	url = https://github.com/the-lobsternaut/eia-sdn-plugin.git
[submodule "plugins/gscpi"]
	path = plugins/gscpi
	url = https://github.com/the-lobsternaut/gscpi-sdn-plugin.git
[submodule "plugins/usaspending"]
	path = plugins/usaspending
	url = https://github.com/the-lobsternaut/usaspending-sdn-plugin.git
[submodule "plugins/comtrade"]
	path = plugins/comtrade
	url = https://github.com/the-lobsternaut/comtrade-sdn-plugin.git
[submodule "plugins/nws"]
	path = plugins/nws
	url = https://github.com/the-lobsternaut/nws-sdn-plugin.git
[submodule "plugins/radnet"]
	path = plugins/radnet
	url = https://github.com/the-lobsternaut/radnet-sdn-plugin.git
[submodule "plugins/patents"]
	path = plugins/patents
	url = https://github.com/the-lobsternaut/patents-sdn-plugin.git
[submodule "plugins/kiwisdr"]
	path = plugins/kiwisdr
	url = https://github.com/the-lobsternaut/kiwisdr-sdn-plugin.git
[submodule "plugins/yfinance"]
	path = plugins/yfinance
	url = https://github.com/the-lobsternaut/yfinance-sdn-plugin.git
[submodule "plugins/fcc"]
	path = plugins/fcc
	url = https://github.com/the-lobsternaut/fcc-sdn-plugin.git
